.Balance {
  font-weight: bold;
  font-size: 28px;
  color: var(--text-color);
  text-align: left;
}

.Balance .Balance__label {
  font-size: 10px;
  display: block;
  font-weight: lighter;
  padding-left: 1px;
}

.Balance .Balance__add-btn {
  float: right;
  background: var(--primary-color);
  border: none;
  color: var(--primary-text-color);
  font-size: 28px;
  width: calc(var(--container-base-padding) * 2);
  height: calc(var(--container-base-padding) * 2);
}
