.field button {
  background: var(--primary-color);
  border: none;
  color: var(--primary-text-color);
  font-size: 18px;
  width: 100%;
  height: 50px;
}

.form header {
  padding: var(--container-base-padding);
  font-size: 24px;
  color: var(--primary-color);
  font-weight: bold;
}

.form header button.close {
  background: none;
  border: none;
  font-size: 30px;
  height: 35px;
  width: 35px;
  float: right;
  transform: rotate(45deg);
  -webkit-appearance:none;
}

.TransactionForm .field .InputTypeButton {
  background: none;
  display: inline;
  width: auto;
  height: auto;
  font-size: 14px;
  padding: 10px 20px;
}

.TransactionForm .field .InputTypeButton.input {
  color: var(--primary-color);
}

.TransactionForm .field .InputTypeButton.output {
  color: var(--alert-color);
}

.TransactionForm {
  max-width: var(--app-base-width);
  width: 100%;
}
