ul.TransactionList {
  list-style-type: none;
  padding: 0;
}

ul.TransactionList li {
  padding: var(--container-base-padding) 0;
  border-bottom: 1px solid #f0efeb;
  transition: height 0.9 ease-in;
  overflow: hidden;
}

ul.TransactionList li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

ul.TransactionList li .TransactionList__item-description {
  font-size: 20px;
  color: var(--dark-color);
}

ul.TransactionList li .TransactionList__item-value {
  color: var(--primary-color); /*#f94144;*/
  float: right;
}

ul.TransactionList li .TransactionList__item-value.negative {
  color: var(--alert-color);
}

ul.TransactionList li .time {
  display: block;
  color: var(--text-color);
  padding-top: 10px
}
