body {
  font-family: 'Open Sans';
}

.hidden {
  display: none !important;
}

.box {
  font-family: 'Open Sans';
  -webkit-box-shadow: -3px 7px 27px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: -3px 7px 27px 0px rgba(0,0,0,0.33);
  box-shadow: -3px 7px 27px 0px rgba(0,0,0,0.33);
  width: 300px;
  border-radius: 10px;
  padding: 20px;
}

.box.form {
  padding: 0;
}


button:focus, input:focus {
  outline: 0;
}
