body {
  font-family: var(--app-base-font-family);
  margin: 0;
}

.hidden {
  display: none !important;
}

.box {
  font-family: var(--app-base-font-family);
  -webkit-box-shadow: -3px 7px 27px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: -3px 7px 27px 0px rgba(0,0,0,0.33);
  box-shadow: -3px 7px 27px 0px rgba(0,0,0,0.33);
  max-width: calc(var(--app-base-width) - var(--container-base-padding));
  width: calc(100% - var(--container-base-padding) * 2);
  padding: var(--container-base-padding);

  margin-top: var(--container-base-padding);
  margin-bottom: var(--container-base-padding);
}

@media screen and (max-width: 414px) {
  .box {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    margin-top: 0;
    margin-bottom: 0;
  }
}

button:focus, input:focus {
  outline: 0;
}
